.styled-table 
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr 
{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td 
{
    padding: 12px 15px;
}
.styled-table tbody tr 
{
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) 
{
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type 
{
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row 
{
    font-weight: bold;
    color: #009879;
}
.head{
    font-size: 65px;
    font-weight: 600;
    background-image: linear-gradient(to left, #009879, rgb(132, 202, 150));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.mid
{
    margin-left: 200px;
}
.story-box
{
}
.story-1
{
    width:500px;
}

div.scroll {
    margin:4px, 4px;
    padding:50px;
    background-color: #009879;
    width: 500px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
